.post-content {
	font-size: 1.5rem;
}

/* this rule is to make drawio diagrams look correct wrt to text alignment */
div.geDiagramContainer div {
	line-height: 1.2;
}

code {
	font-size: 1.3rem;
	display: inline-block;
	font-weight: 400;
    padding: 0px 5px;
    line-height: 1.6em;
}

@media (min-width: 1400px) {
	.main-content-wrap {
		max-width: 950px;
	}
}