{{ partial "head.html" . }}

<body>
    <div id="blog">
        {{ partial "header.html" . }}
        {{ partial "sidebar.html" . }}
        {{ partial "post/header-cover.html" . }}
        <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}" class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
            <article class="post" itemscope itemType="http://schema.org/BlogPosting">
                {{ with .Params.covercaption }}
                <span class="post-header-cover-caption caption">{{ . | markdownify }}</span>
                {{ end }}
                {{ if or (not .Params.coverimage) (eq .Params.covermeta "out") }}
                {{ partial "post/header.html" . }}
                {{ end }}
                <div class="post-content markdown" itemprop="articleBody">
                    <div class="main-content-wrap">
                        {{ (replaceRE "<!--\\s*[t|T][o|O][c|C]\\s*-->" (printf "<h1 id=\"table-of-contents\">%s</h1>%s" (i18n "post.toc") .TableOfContents) .Content) | safeHTML }}
                        {{ partial "post/gallery.html" . }}
                    </div>
                </div>
                <div id="post-footer" class="post-footer main-content-wrap">
                    {{ if (not (eq .Params.showTags false)) }}
                    {{ with .Params.tags }}
                    {{ $tagsLength := len . }}
                    {{ if gt $tagsLength 0 }}
                    <div class="post-footer-tags">
                        <span class="text-color-light text-small">{{ i18n "post.tagged_in" }}</span><br />
                        {{ partial "post/tag.html" $ }}
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ partial "post/actions.html" . }}
                    {{ if not (eq .Params.comments false) }}
                    {{ if .Site.DisqusShortname }}
                    {{ partial "post/disqus.html" . }}
                    {{ end }}

                    <div id="gitalk-container"></div>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
                    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

                    <script>
                        const gitalk = new Gitalk({
                            clientID: '11769dd99bbd352fa941',
                            clientSecret: 'f1b2e17c8a787a142d1e74f8a6469b712cf81d19',
                            repo: 'netdevops.me_gitment_comments',
                            owner: 'hellt',
                            admin: ['hellt'],
                            id: '{{ .Params.comment_id }}',      // Ensure uniqueness and length less than 50
                            distractionFreeMode: false  // Facebook-like distraction free mode
                        })

                        gitalk.render('gitalk-container')
                    </script>

                    {{ end }}
                </div>
            </article>
            {{ partial "footer.html" . }}
        </div>
        <div id="bottom-bar" class="post-bottom-bar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
            {{ partial "post/actions.html" . }}
        </div>
        {{ partial "post/share-options.html" . }}
    </div>
    {{ partial "foot.html" . }}